/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;600&display=swap');

/* common styles */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

main {
    margin-top: 130px;
    display: flex;
    margin-bottom: 130px;
}


h2 {
    font-size: 70px;
}

p {
    font-weight: 200;
    font-size: 16px;
}

a {
    text-decoration: none;
}

/* header styles */

.header-section {
    background-color: #161616;
    color: beige;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    padding-left: 106px;
    padding-bottom: 70px;
}

.view-btn {
    display: inline-block;
    margin-top: 20px;
    color: #f9f9f9;
    padding: 15px 30px;
    background: #2496c7;
    border-radius: 5px;
}

.view-btn .fa-angle-right {
    padding-left: 5px;
    padding-top: 2px;
}

.view-btn:hover {
    background-color: #DD0000;
}


.bannner-img img {
    width: 581px;
    padding-right: 80px;
}

/* sidebar style */
#sidebar {
    width: 312px;
}

.sidebar-buttons {
    background-color: #161616;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.side-button {
    display: inline-block;
    margin: 20px 20px;
    padding: 15px 20px;
    background: #f9f9f9;
    border-radius: 5px;
    color: black;
    text-align: center;
}

#red-btn {
    background: #2496c7;
    color: seashell;
}

.sidebar-buttons a:hover {
    background-color: #DD0000;
    color: #E8E8E8;
}



/* blogs style */
#blog-section {
    padding-left: 24px;
}



.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
}

.blog {
    width: 290px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.blog-thumbnail img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.blog-info {
    padding: 20px 10px;
}

.blog-info a {
    border: 1px solid;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    color: #161616;
}

.blog-info h3 {
    padding-top: 20px;
}

.views {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    color: rgba(22, 22, 22, 0.7);
}

.views .blog-comments {
    padding-left: 30px;
}

/* Matches Style */
#new-matches {
    padding-left: 24px;
}

.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
}

.match {
    width: 252px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    text-align: center;
    padding: 20px 10px;
}

.countries {
    display: flex;
    justify-content: space-between;
}

.match-details {
    padding-top: 15px;
}

.match-details p {
    padding-top: 15px;
}

span {
    font-size: 16px;
    font-weight: 700;
    padding-top: 20px;
}

/* footer section */
#footer {
    background-color: #16272f;
    height: 444px;
}

.footer-section {
    text-align: center;
    padding-top: 130px;
    color: antiquewhite;
}

.footer-section h3 {
    font-size: 40px;
}

.footer-section hr {
    width: 80%;
}

.footer-menu {
    padding-top: 40px;
    display: flex;
    justify-content: center;

}

.footer-menu a {
    color: #B9B9B9;
    font-size: 16px;
    font-weight: 500;
    padding-left: 20px;
}

.social-media {
    margin-top: 30px;
}

.social-media a {
    text-align: center;
    font-size: 30px;
    color: #f9f9f9;
    padding: 0px 15px;
}



/* Responsive Design */
/* Smaller device */
@media only screen and (max-width: 576px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-size: 24px;
        font-weight: 700;
    }

    p {
        font-size: 14px;
    }

    .header-section {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .header-title {
        padding-left: 0px;
        padding-bottom: 20px;
        text-align: center;
    }

    .bannner-img img {
        width: 250px;
        padding-right: 0px;
        padding-left: 0px;
    }

    #sidebar {
        width: 312px;
    }

    .sidebar-buttons {
        flex-direction: column;
        justify-content: space-around;
        background-color: #ffff;
    }


    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .matches {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-section {
        padding-top: 20px;
    }


    .footer-menu {
        flex-direction: column;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 10px;
    }

    .footer-menu a {
        padding-left: 0px;
        padding-bottom: 5px;
    }
}

/* Medium Devices */
@media only screen and (min-width: 577px) and (max-width: 992px) {

    main {
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-size: 40px;
    }

    .header-section {
        display: flex;
        align-items: center;
        padding-top: 100px;
    }

    .header-title {
        padding-left: 76px;
        padding-bottom: 60px;
        padding-top: 61px;
    }


    .bannner-img img {
        width: 323px;
        padding-right: 60px;
        padding-top: 58px;
    }

    .header-section {
        width: 100%;
    }

    #sidebar {
        width: 100%;
    }

    .sidebar-buttons {
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #ffff;
    }


    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }

    .matches {
        grid-template-columns: repeat(2, 1fr);
    }
}