/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;600&display=swap');

/* common styles */
* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    margin-top: 130px;
    display: flex;
    margin-bottom: 130px;
}


h2 {
    font-size: 70px;
}

p {
    font-weight: 200;
    font-size: 16px;
}

a {
    text-decoration: none;
}

/* header styles */
#header {
    background-color: #161616;
    color: beige;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    align-items: center;
}

.header-title {
    padding-left: 106px;
    padding-bottom: 20px;
}

.view-btn {
    display: inline-block;
    margin-top: 20px;
    color: #f9f9f9;
    padding: 15px 30px;
    background: #2496c7;
    border-radius: 5px;
}

.view-btn .fa-angle-right {
    padding-left: 5px;
    padding-top: 2px;
}

.view-btn:hover {
    background-color: #DD0000;
}

.bannner-img {
    padding-right: 80px;
}

.bannner-img img {
    width: 581px;
}

/* sidebar style */
#sidebar {
    width: 312px;
}

.sidebar-buttons {
    background-color: #161616;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.side-button {
    display: inline-block;
    margin: 20px 20px;
    padding: 15px 20px;
    background: #f9f9f9;
    border-radius: 5px;
    color: black;
    text-align: center;
}

#red-btn {
    background: #2496c7;
    color: seashell;
}

.sidebar-buttons a:hover {
    background-color: #DD0000;
    color: #E8E8E8;
}

/* blogs style */
#blog-section {
    padding-left: 24px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
}

.blog {
    width: 312px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.blog-thumbnail img {
    width: 312px;
    border-radius: 10px 10px 0px 0px;
}

.blog-info {
    padding: 20px 10px;
}

.blog-info a {
    border: 1px solid;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    color: #161616;
}

.blog-info h3 {
    padding-top: 20px;
}

.views {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    color: rgba(22, 22, 22, 0.7);
}

.views .blog-comments {
    padding-left: 30px;
}

/* footer section */
#footer {
    background-color: #16272f;
    height: 444px;
}

.footer-section {
    text-align: center;
    padding-top: 130px;
    color: antiquewhite;
}

.footer-section h3 {
    font-size: 40px;
}

.footer-section hr {
    margin: 40px;
}

.footer-menu a {
    color: #B9B9B9;
    font-size: 16px;
    font-weight: 500;
    padding-left: 40px;
}

.social-media {
    margin-top: 30px;
}

.social-media a {
    text-align: center;
    font-size: 30px;
    color: #f9f9f9;
    padding: 0px 15px;
}